# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
